<nav class="navbar" role="banner">
    <div class="bar-container">
        <div class="logo">
            <a>
                <img src="/assets/imagens/logovw.svg" alt="Logo Victor Wesley">
            </a>
        </div>
        <div class="menu-container">
            <ul>
                <li><a href="#home">Home</a>
                </li>
                <li><a href="#about">Sobre</a>
                </li>
                <li><a href="#projects">Projetos</a>
                </li>
                <li><a href="#contact">Contato</a>
                </li>
            </ul>
        </div>
    </div>
</nav>